<p id="notice"><%= notice %></p>

<h1>Listing Dokters</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dokters.each do |dokter| %>
      <tr>
        <td><%= dokter.nama %></td>
        <td><%= link_to 'Show', dokter %></td>
        <td><%= link_to 'Edit', edit_dokter_path(dokter) %></td>
        <td><%= link_to 'Destroy', dokter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dokter', new_dokter_path %>
