<% provide(:title, "Log in") %>
<% if logged_in? %>
<%= render 'static_pages/home' %>
<% else %>
<h1>Selamat datang di website Puskesmas Kampung Sawah</h1>
<h2>Log In</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>
 <% end %>
    
<%#<%= form_tag sessions_path do %>
<%#<div class="field">%>
<%#<%= label_tag :email %><br>
<%#<%= text_field_tag :email %>
<%#</div>%>
<%#  <div class="field">%>
<%#    <%= label_tag :password %><br>
<%#<%= password_field_tag :password %>
<%#</div>%>
<%#  <div class="actions">%>
<%#    <%= submit_tag "Log In" %>
<%#</div>%>
<%#<% end %>
<%#<div>%>
    <%#<% if flash[:alert] %>
    <%#<p id ="notice"><%= flash[:alert] %></p>
    <%#<% end %>
    <%#<%= form_tag do %>
    <%#<fieldset>%>
        <%#<legend>Please Log In</legend>%>
        <%#<div>%>
            <%#<%= label_tag :username, 'Username' %>
            <%#<%= text_field_tag :username, params[:username] %>
            <%#<%= label_tag :password, 'Password' %>
            <%#<%= text_field_tag :password, params[:password] %>
        <%#</div>%>
        <%#<div>%>
            <%#<%= submit_tag "Login" %>
        <%#</div>%>
    <%#</fieldset>%>
    <%#<% end %>
<%#</div>%>
