<h2 style="text-align: center">Laporan Pemakaian dan Lembar Permintaan (PLPO)</h2><br>
<table class="table" style="border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black">
  <thead>
    <tr>
      <th rowspan="2" style="border-bottom: 1px solid black; border-right: 1px solid black">Nama Obat</th>
      <th rowspan="2" style="border-bottom: 1px solid black; border-right: 1px solid black">Stok Awal</th>
      <th colspan="5" style="border-bottom: 1px solid black; border-right: 1px solid black">Penerimaan</th>
      <th rowspan="2" style="border-bottom: 1px solid black; border-right: 1px solid black">Persediaan</th>
      <th colspan="3" style="border-bottom: 1px solid black; border-right: 1px solid black">Pemakaian</th>
      <th rowspan="2" style="border-bottom: 1px solid black; border-right: 1px solid black">Jumlah Pemakaian</th>
      <th rowspan="2" style="border-bottom: 1px solid black; border-right: 1px solid black">Stok Akhir</th>
      <th rowspan="2" style="border-bottom: 1px solid black; border-right: 1px solid black">Harga</th>
      <th rowspan="2" style="border-bottom: 1px solid black">Ket</th>
      </tr>
      <tr>
      <th style="border-bottom: 1px solid black; border-right: 1px solid black">PKD</th>
      <th style="border-bottom: 1px solid black; border-right: 1px solid black">ASK</th>
      <th style="border-bottom: 1px solid black; border-right: 1px solid black">DAK</th>
      <th style="border-bottom: 1px solid black; border-right: 1px solid black">PROGR</th>
      <th style="border-bottom: 1px solid black; border-right: 1px solid black">POSKEL</th>
      <th style="border-bottom: 1px solid black; border-right: 1px solid black">PKM</th>
      <th style="border-bottom: 1px solid black; border-right: 1px solid black">PUSTU</th>
      <th style="border-bottom: 1px solid black ; border-right: 1px solid black">POSKESKEL</th>

    </tr>
  </thead>

  <tbody>

      <%#<% @obats.each do |obat| %>
      <% @obats.each do |resep| %>
      <tr>
          
          
          
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.nama %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.stok_awal %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.pkd %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.ask %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.dak %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.progr %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.poskel %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.jumlah_masuk%></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.pkm %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.pustu %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.poskeskel %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.jumlah_ambil %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.stok %></td>
          <td style="border-bottom: 1px solid black; border-right: 1px solid black"><%= resep.harga %></td>
          <td style="border-bottom: 1px solid black"><%= "" %></td>

                    
          <% end %>
          <%#<%end%>

        <td><%#<%= link_to 'Show', resep %></td>
        <td><%#<%= link_to 'Edit', edit_resep_path(resep) %></td>
        <td><%#<%= link_to 'Destroy', resep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    
  </tbody>
</table>