<p id="notice"><%= notice %></p>

<h1>Daftar Obat</h1>

<table class="table">
  <thead>
    <tr>
      <th>Kode</th>
      <th>Nama</th>
      <th>Stok awal</th>
      <th>Stok</th>
      <th>Harga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obats.each do |obat| %>
      <tr>
        <td><%= obat.kode %></td>
        <td><%= obat.nama %></td>
        <td><%= obat.stok_awal %></td>
        <td><%= obat.stok %></td>
        <td><%= obat.harga %></td>
        <td><%= link_to 'Show', obat %></td>
        <td><%= link_to 'Edit', edit_obat_path(obat) %></td>
        <td><%= link_to 'Destroy', obat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Obat', new_obat_path %>
