<div class="pull-right">
<%= form_tag lb2_path, method: :get do %>
    <div class="input-group">
        <div class="input-group-addon">
    
            <select id="bulan" name="bulan">
              <option value="January">Januari</option>
              <option value="February">Februari</option>
              <option value="March">Maret</option>
              <option value="April">April</option>
              <option value="May">Mei</option>
              <option value="June">Juni</option>
              <option value="July">Juli</option>
              <option value="August">Agustus</option>
              <option value="September">September</option>
              <option value="October">Oktober</option>
              <option value="November">November</option>
              <option value="December">Desember</option>
            </select></div>

        <div class="input-group-addon">
            <select id="tahun" name="tahun">
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
                <!--
                  <option value="June">Juni</option>
                  <option value="July">Juli</option>
                  <option value="August">Agustus</option>
                  <option value="September">September</option>
                  <option value="October">Oktober</option>
                  <option value="November">November</option>
                  <option value="December">Desember</option>
                -->
            </select>
        </div>
    </div>
    <%= submit_tag 'Search', class: 'btn search-button' %>
<% end %>
</div>

<br>
<%= link_to "Cetak Laporan", cetak_lb2_path(:format => "pdf", :bulan => params[:bulan], :tahun => params[:tahun]), :target => "_blank" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">Nama Obat</th>
      <th rowspan="2">Stok Awal</th>
      <th colspan="5">Penerimaan</th>
      <th rowspan="2">Persediaan</th>
      <th colspan="3">Pemakaian</th>
      <th rowspan="2">Jumlah Pemakaian</th>
      <th rowspan="2">Stok Akhir</th>
      <th rowspan="2">Harga</th>
      <th rowspan="2">Ket</th>
      </tr>
      <tr>
      <th>PKD</th>
      <th>ASK</th>
      <th>DAK</th>
      <th>PROGR</th>
      <th>POSKEL</th>
      <th>PKM</th>
      <th>PUSTU</th>
      <th>POSKESKEL</th>

    </tr>
  </thead>

  <tbody>

      <%#<% @obats.each do |obat| %>
      <% @obats.each do |resep| %>
      <tr>
          
          
          
          <td><%= resep.nama %></td>
          <td><%= resep.stok_awal %></td>
          <td><%= resep.pkd %></td>
          <td><%= resep.ask %></td>
          <td><%= resep.dak %></td>
          <td><%= resep.progr %></td>
          <td><%= resep.poskel %></td>
          <td><%= resep.jumlah_masuk%></td>
          <td><%= resep.pkm %></td>
          <td><%= resep.pustu %></td>
          <td><%= resep.poskeskel %></td>
          <td><%= resep.jumlah_ambil %></td>
          <td><%= resep.stok %></td>
          <td><%= resep.harga %></td>

                    
          <% end %>
          <%#<%end%>

        <td><%#<%= link_to 'Show', resep %></td>
        <td><%#<%= link_to 'Edit', edit_resep_path(resep) %></td>
        <td><%#<%= link_to 'Destroy', resep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    
  </tbody>
</table>

<%#<% @reseps.each do |r| %>
<%#<%= r.nama %>
<%#<%= r.jm %>
<%#<%= r.ja %>
<%#<% end %>

