<% if params[:search] %>

<% @obats.each do |obat| %>
    <div>
        <%= obat.kode %>
        <%= obat.nama %>
        <%= obat.stok %>
        <%= link_to 'Tambah', new_resep_path(nama: obat) %>
    
    </div>
<% end %>

<% else %>

<%= form_tag(search_obat_keluar_path, :method => "get",  role: "search") do %>
<div class="form-group">
<%= search_field_tag :search, params[:search], class: "form-control", placeholder: "Search Obat" %>
<%= submit_tag "Search", class: 'btn btn-info' %>
</div>
<% end %>
<% end %>

