
<h1>Daftar Obat Masuk</h1><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Kode Obat</th>
      <th>Nama Obat</th>
      <th>Jumlah masuk</th>
      <th>Penerimaan</th>
      <th colspan="2">Aksi</th>
    </tr>
  </thead>

  <tbody>
    <% @obat_masuks.each do |obat_masuk| %>
      <tr>
        <td><%= obat_masuk.obat.kode %></td>
        <td><%= obat_masuk.obat.nama %></td>
        <td><%= obat_masuk.jumlah_masuk %></td>
        <td><%= obat_masuk.penerimaan %></td>
        <td><%= link_to 'Edit', edit_obat_masuk_path(obat_masuk) %></td>
          <td><%= link_to 'Delete', obat_masuk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#<%= link_to 'New Obat masuk', new_obat_masuk_path %>
