<div class="col-md-6 col-md-offset-2">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Entri Rekam Medik</h3>
  </div>
  <div class="panel-body">

<%= simple_form_for(@rekam_medik) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :pasien, selected: params[:no_rm], label_method: :nama, value_method: :id %>
    <%#<%= f.input :nama %>
    <%= f.input :keluhan %>
    <%= f.association :penyakit, label_method: :nama %>
      <%= f.association :dokter, label_method: :nama %>
    <%= f.input :terapi %>
    <%= f.input :tindakan %>
  </div>
<br>
  <div class="form-actions">
      <%#<%= f.hidden_field :pasien_id, value: @rekam_medik.pasien_id %>
      <%= f.button :submit, class: "btn btn-primary", value: "Tambah Rekam Medik" %>
  </div>
<% end %>
      
      
    </div>
    </div>
</div>
