<p id="notice"><%= notice %></p>

<h1>Listing Rekam Mediks</h1>

<table>
  <thead>
    <tr>
      <th>Kartu rm</th>
      <th>Nama</th>
      <th>Keluhan</th>
      <th>Penyakit</th>
      <th>Terapi</th>
      <th>Tindakan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rekam_mediks.each do |rekam_medik| %>
      <tr>
        <td><%= rekam_medik.pasien.no_rm %></td>
        <td><%= rekam_medik.nama %></td>
        <td><%= rekam_medik.keluhan %></td>
        <td><%= rekam_medik.penyakit.nama %></td>
        <td><%= rekam_medik.terapi %></td>
        <td><%= rekam_medik.tindakan %></td>
        <td><%= link_to 'Show', rekam_medik %></td>
        <td><%= link_to 'Edit', edit_rekam_medik_path(rekam_medik) %></td>
        <td><%= link_to 'Destroy', rekam_medik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rekam medik', new_rekam_medik_path %>
