<div class="col-md-6 col-md-offset-2">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Entri Obat Keluar</h3>
  </div>
  <div class="panel-body">

<%= simple_form_for(@resep) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :obat, selected: params[:nama], label_method: :nama, value_method: :id %>
    <%= f.input :jumlah_ambil %>
  </div>
<br>
        <ul class="list-inline">
            <li><%= f.label :pemakaian %></li>
            <li>PKM</li>
            <li><%= f.radio_button :pemakaian, 'PKM' %></li>
            <li>PUSTU</li>
            <li><%= f.radio_button :pemakaian, 'PUSTU' %></li>
            <li>POSKESKEL</li>
            <li><%= f.radio_button :pemakaian, 'POSKESKEL' %></li>
        </ul>
<br>
  <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary", value:"Tambah Obat Keluar" %>
  </div>
<% end %>
      
      
</div>
</div>

</div>
