<p id="notice"><%= notice %></p>

<p>
  <strong>Kartu rm:</strong>
    <%= @kunjungan.pasien.no_rm%>
</p>

<p>
  <strong>Nama:</strong>
  <%= @kunjungan.nama %>
</p>

<p>
  <strong>Umur:</strong>
    <%= @kunjungan.pasien.umur %>
</p>

<p>
  <strong>Jenis kelamin:</strong>
    <%= @kunjungan.pasien.jenis_kelamin %>
</p>

<p>
  <strong>Kunjungan:</strong>
  <%= @kunjungan.kunjungan %>
</p>

<p>
  <strong>Keluhan:</strong>
  <%= @kunjungan.keluhan %>
</p>

<p>
  <strong>Poli:</strong>
  <%= @kunjungan.poli.nama %>
</p>

<p>
  <strong>Kategori:</strong>
    <%= @kunjungan.pasien.kategori.nama %>
</p>

<p>
  <strong>Jenis kartu:</strong>
    <% if @kunjungan.pasien.jenis_kartu != nil %>
    <%= @kunjungan.pasien.jenis_kartu.nama %>
    <% else %>
    -
    <% end %>
</p>

<p>
  <strong>No kartu:</strong>
    <%= @kunjungan.pasien.no_kartu %>
</p>

<%= link_to 'Edit', edit_kunjungan_path(@kunjungan) %> |
<%= link_to 'Back', kunjungans_path %>
