

<%= simple_form_for(@pasien) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :no_rm %>
    <%#<%= f.association :kartu_rm, selected: params[:no_rm], label_method: :no_rm, value_method: :id %>
    <%= f.input :nama %>
    <%= f.label :status %><br>
    <%= f.radio_button :status, 'kepala' %> Kepala keluarga
    <%= f.radio_button :status, 'anggota' %> Anggota keluarga
    <%= f.input :alamat %>
    <%= f.association :kelurahan, label_method: :nama %>
    <%= f.label :tanggal_lahir %><br>
    <%= f.date_select :tanggal_lahir, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
    <%= f.label :jenis_kelamin %><br>
    <%= f.radio_button :jenis_kelamin, 'L' %> L
    <%= f.radio_button :jenis_kelamin, 'P' %> P
    <%= f.association :kategori, label_method: :nama %>
    <%= f.association :jenis_kartu, label_method: :nama %>
    <%= f.input :no_kartu %>

  </div>

  <div class="form-actions">
      <%= f.button :submit %>
  </div>
<% end %>
