<h3> Puskesmas Kampung Sawah</h3>
<h4> Bandar Lampung </h4>

<div class="pull-center">
<h2> Kartu Status Pasien </h2>
</div>

 No RM : <%= @pasien.no_rm %> <br>
 Nama : <%= @pasien.nama %> <br>
 Umur : <%= @pasien.umur %> <br>
Jenis Kelamin : <%= @pasien.jenis_kelamin %> <br>

<% if @pasien.rekam_mediks.any? %>

<table class="table">
  <thead>
    <tr>
      <th>Tanggal</th>
      <th>Keluhan</th>
      <th>Penyakit</th>
      <th>Terapi</th>
      <th>Tindakan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<% @pasien.rekam_mediks.each do |rm| %>
      
      <tr>
          <td><%= rm.created_at.to_date.to_s %></td>
          <td><%= rm.keluhan %></td>
          <td><%= rm.penyakit.nama %></td>
          <td><%= rm.terapi %></td>
          <td><%= rm.tindakan %></td>
          <% end %>
      </tr>
    </tbody>
</table>
<% end %>

