<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-4">  
    <strong>Anggota Keluarga:</strong>

    </div>
<div class="col-md-8">
<p>
  <strong>No rm:</strong>
  <%= @pasien.no_rm %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @pasien.nama %>
</p>

  <strong>Status Keluarga:</strong>
  <%= @pasien.status %> keluarga
</p>

<p>
  <strong>Alamat:</strong>
  <%= @pasien.alamat %>
</p>

<p>
  <strong>Kelurahan:</strong>
  <%= @pasien.kelurahan.nama %>
</p>

<p>
  <strong>Umur:</strong>
  <%= @pasien.umur %>
</p>

<p>
  <strong>Jenis kelamin:</strong>
  <%= @pasien.jenis_kelamin %>
</p>

<p>
  <strong>Kategori:</strong>
  <%= @pasien.kategori.nama %>
</p>

<p>
  <strong>Jenis kartu:</strong>
    <% if @pasien.jenis_kartu != nil %>
    <%= @pasien.jenis_kartu.nama %>
    <% else %>
    -
    <% end %>
</p>

<p>
  <strong>No kartu:</strong>
  <%= @pasien.no_kartu %>
</p>
    </div> 
    
    <div>
        <%= link_to 'Tambah rekam medik', new_rekam_medik_path(no_rm: @pasien) %>
    
    </div>

<% if @pasien.rekam_mediks.any? %>

<table class="table">
  <thead>
    <tr>
      <th>Tanggal</th>
      <th>Keluhan</th>
      <th>Penyakit</th>
      <th>Terapi</th>
      <th>Tindakan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<% @pasien.rekam_mediks.each do |rm| %>
      
      <tr>
          <td><%= rm.created_at.to_date.to_s %></td>
          <td><%= rm.keluhan %></td>
          <td><%= rm.penyakit.nama %></td>
          <td><%= rm.terapi %></td>
          <td><%= rm.tindakan %></td>
          <% end %>
      </tr>
    </tbody>
</table>
<% end %>
<!--<p id="pdf_link"><%#<%= link_to "Download Invoice (PDF)", pasien_path(@pasien, :format => "pdf") %></p>-->

<%= link_to "Cetak Rekam Medik", cetak_rekam_medik_path(id: @pasien) %>

<%#<%= link_to 'Edit', edit_pasien_path(@pasien) %> 
<%#<%= link_to 'Back', pasiens_path %>
