<div class="row">
<div class="col-md-4">
    
<div class="panel panel-default" style="width: 350px;">
  <div class="panel-heading">
    <h3 class="panel-title">Keluarga Pasien</h3>
  </div>
  <div class="panel-body">
    
    <div class="row">
        <div class="col-md-7">
            <p><strong>Nama</strong></p>
            <p><% @keluarga.each do |keluarga| %>
                <%= link_to keluarga.nama, pasien_path(keluarga.id) %>                 
            </p>
            <% end %>
        </div>
        <div class="col-md-5">
            <p><strong>Status</strong></p>
            <p><% @keluarga.each do |keluarga| %>
                <%= keluarga.status %> keluarga                
            </p>
            <% end %>
        </div>
    </div><br>
    </div>
    </div>
    
    
    <div class="panel panel-default" style="width: 350px;">
  <div class="panel-heading">
    <h3 class="panel-title">Data Pasien</h3>
  </div>
  <div class="panel-body">
    
    <div class="row">
        <div class="col-md-4">
            <p><strong>No RM</strong></p>
            <p><strong>Nama</strong></p>
            <p><strong>Status Keluarga</strong></p>
            <p><strong>Alamat</strong></p>
            <p><strong>Kelurahan</strong></p>
            <p><strong>Umur</strong></p>
            <p><strong>Jenis Kelamin</strong></p>
            <p><strong>Kategori</strong></p>
            <p><strong>Jenis Kartu</strong></p>
            <p><strong>No Kartu</strong></p>
        </div>
        <div class="col-md-8">
            <p> : <%= @pasien.no_rm %></p>
            <p> : <%= @pasien.nama %></p>
            <p> : <%= @pasien.status %> keluarga</p>
            <p> : <%= @pasien.alamat %></p>
            <p> : <%= @pasien.kelurahan.nama %></p>
            <p> : <%= @pasien.umur %></p>
            <p> : <%= @pasien.jenis_kelamin %></p>
            <p> : <%= @pasien.kategori.nama %></p>
            <p> <% if @pasien.jenis_kartu != nil %>
                    : <%= @pasien.jenis_kartu.nama %>
                <% else %>
                    : -
                <% end %></p>
            <p> : <%= @pasien.no_kartu %></p>
        </div>
    </div>
    
</div> 

    </div>
    </div>
        
<div class="col-md-8">
<h4>Rekam Medik Pasien</h4>
    
    <div>
        <%= link_to 'Tambah rekam medik', new_rekam_medik_path(no_rm: @pasien) %>
    
        <div class="pull-right">
        <%= link_to "Cetak Rekam Medik", cetak_rekam_medik_path(id: @pasien, :format => "pdf"), :target => "_blank" %>
        </div>
    </div><br>

<% if @pasien.rekam_mediks.any? %>

<table class="table">
  <thead>
    <tr>
      <th>Tanggal</th>
      <th>Keluhan</th>
      <th>Penyakit</th>
      <th>Terapi</th>
      <th>Tindakan</th>
      <th>Dokter</th>
      <th colspan="2">Aksi</th>
    </tr>
  </thead>

  <tbody>
<% @pasien.rekam_mediks.each do |rm| %>
      
      <tr>
          <td><%= rm.created_at.to_date.to_s %></td>
          <td><%= rm.keluhan %></td>
          <td><%= rm.penyakit.nama %></td>
          <td><%= rm.terapi %></td>
          <td><%= rm.tindakan %></td>
          <% if rm.dokter != nil %>
          <td><%= rm.dokter.nama %></td>
          <% else %>
          <td>-</td>
          <% end %>
          <td><%= link_to 'Edit', edit_rekam_medik_path(rm.id) %></td>
          <td><%= link_to 'Destroy', rm, method: :delete, data: { confirm: 'Are you sure?' } %></td>


          <% end %>
      </tr>
    </tbody>
</table>
<% end %>
<!--<p id="pdf_link"><%#<%= link_to "Download Invoice (PDF)", pasien_path(@pasien, :format => "pdf") %></p>-->

    
    </div>
</div>
<%#<%= link_to 'Edit', edit_pasien_path(@pasien) %> 
<%#<%= link_to 'Back', pasiens_path %>

    

