<%= form_for(@kategori) do |f| %>
  <% if @kategori.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kategori.errors.count, "error") %> prohibited this kategori from being saved:</h2>

      <ul>
      <% @kategori.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nama %><br>
    <%= f.text_field :nama %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
