    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
          <%= link_to "Puskesmas Kampung Sawah", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to "Home", home_path %></li>
              <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Pasien <b class="caret"></b>
                            </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Entri Data", new_pasien_path %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Lihat Data", pasiens_path %>
                            </li>
                            </ul>
              <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Kunjungan <b class="caret"></b>
                            </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Entri Data", search_pasien_path %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Lihat Data", kunjungans_path %>
                            </li>
                            </ul>
              <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Obat <b class="caret"></b>
                            </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Obat Baru", new_obat_path %></li>
                            <li class="divider"></li>
                            <li>
                            <li><%= link_to "Obat Keluar", search_obat_keluar_path %></li>
                            <li class="divider"></li>
                            <li>
                            <li><%= link_to "Obat Masuk", search_obat_masuk_path %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Lihat Data Obat", obats_path %>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Lihat Data Obat Keluar", reseps_path %>
                            </li>
                            </ul>
              <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Laporan <b class="caret"></b>
                            </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "LB1", lb1_path %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "LB2", lb2_path %>
                            </li>
                            </ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Account <b class="caret"></b>
                            </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Settings", edit_admin_path(current_admin) %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Log out", logout_path, method: "delete" %>
                            </li>
                        </ul>
                    </li>
                <% else %>
              <li><%= link_to "Home",   home_path %></li>
                    <li><%= link_to "Help",   help_path %></li>
                    <li><%= link_to "Log in", login_path %></li>
                <% end %>

          </ul>
        </nav>
      </div>
    </header>